<section class="hero dark-bg" id="hero">
  <div class="container">
    <h1 class="hero-title">Discover Your Next Favorite Artist Today</h1>
    <p class="hero-subtitle">
      Dive into a world of music discoveries with ArtistsHub – your personal
      guide to the boundless universe of sound. Explore, filter, and learn about
      your favorite artists all in one place.
    </p>
    <button class="hero-btn" type="button" id="exploreBtn">
      Explore Artists
      <svg class="hero-btn-icon" width="15" height="20">
        <use href="../img/icons.svg#icon-right-arrow"></use>
      </svg>
    </button>
  </div>
</section>
