<div class="mobile-menu" data-menu>
  <div class="mobile-menu-header">
    <a href="./index.html" class="logo-link logo">
      <img
        src="./img/logo-header.webp"
        alt="Artists Hub logo"
        width="119"
        height="51"
      />
    </a>

    <!-- Close button -->
    <button
      type="button"
      class="menu-close-btn"
      aria-label="Close mobile menu"
      data-menu-close
    >
      <svg class="close-icon" width="32" height="32" aria-hidden="true">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile-nav">
    <ul class="mobile-menu-list">
      <li><a href="#artists" class="mobile-link">Artists</a></li>
      <li><a href="#about" class="mobile-link">About Us</a></li>
      <li><a href="#feedback" class="mobile-link">Reviews</a></li>
    </ul>
  </nav>
</div>
