@import './loader.css';

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 52px;
  padding-bottom: 52px;
  background-color: rgba(112, 112, 112, 0.8);
  overflow: hidden;
  z-index: 1000;
}

.modal--hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.modal__artist-name {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.01em;
}

.modal__artist-header {
  margin-bottom: 32px;
}

.modal__artist-thumb {
  border-radius: 16px;
  min-width: 100%;
}

.modal__content {
  position: relative;
  display: flex;
  overflow-y: auto;
  background-color: #060307;
  padding: 52px 8px;
  margin-top: 35px;
  max-width: 288px;
  border-radius: 16px;
  overflow: scroll;
  max-height: 100vh;
  max-width: 100%;
  z-index: 1001;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease-in-out;
  padding: 0;
}

.modal__close-btn::before,
.modal__close-btn::after {
  display: flex;
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  background-color: white;
  top: 50%;
  transform: rotate(45deg);
}

.modal__close-btn::after {
  transform: rotate(135deg);
}

.modal__close-btn:hover {
  transform: scale(125%);
}

.modal__artist-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.artist-card__info-yearsActive {
  display: flex;
  flex-direction: column;
}

.modal__info-value,
.modal__info-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.modal__info-title {
  padding-bottom: 4px;
}

.modal__artist-bio {
  max-height: 280px;
  overflow-y: auto;
  padding-right: 4px;
}

.genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
}

.modal__info-genres {
  display: flex;
  gap: 16px;
  align-items: end;
}

.modal__genres-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
}

.modal__genres-item {
  display: flex;
  padding: 4px 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 6px;
  font-size: 0.9em;
  white-space: nowrap;
  width: fit-content;
  cursor: default;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.modal__track-link svg {
  fill: #fff;
}

/*  btn-click  */
.btn-click {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: fit-content;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #060307;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal__albums-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.modal__albums-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__album-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #1e1c1f;
  border-radius: 16px;
  padding: 12px;
}

.modal__album-title {
  font-size: 16px;
}

.modal__tracks-wrapper ul:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.modal__tracks-wrapper ul:nth-child(n + 2) {
  padding: 12px;
}

.modal__tracks-header,
.modal__track-item {
  display: flex;
  border-radius: 8px;
  padding: 4px 12px;
  font-weight: 600;
  font-size: 8px;
  line-height: 150%;
}
.modal__track-name-col,
.modal__track-name {
  flex: 2;
}

.modal__track-name {
  padding-right: 8px;
}

.modal__track-time-col,
.modal__track-time {
  flex: 1;
}

.modal__track-link,
.modal__track-time,
.modal__track-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.modal__track-link {
  display: flex;
  justify-content: end;
  align-items: center;
  min-width: 24px;
}

@media screen and (min-width: 768px) {
  .modal__content {
    padding-left: 24px;
    padding-right: 24px;
  }

  .modal__artist-name {
    font-size: 32px;
  }

  .modal__albums-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .modal__artist-info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 24px;
  }

  .modal__artist-info > li:nth-child(n + 5) {
    grid-column: 1 / -1;
  }

  .modal__info-item {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .modal__artist-bio {
    padding-right: 8px;
  }

  .modal__albums-title {
    margin-bottom: 16px;
  }

  .modal__album-item {
    width: calc((100% - 32px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .modal__content {
    padding-left: 64px;
    padding-right: 64px;
  }

  .modal__artist-name {
    margin-bottom: 48px;
  }

  .modal__artist-container {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 48px;
  }

  .modal__artist-header {
    margin-bottom: 20px;
  }

  .modal__albums-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .modal__artist-info {
    flex: 1;
  }

  .modal__genres-list {
    margin-bottom: 0;
  }

  .modal__albums-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .modal__album-item {
    width: calc((100% - 96px) / 4);
  }

  .modal__track-link a:hover svg {
    fill: #cc0000;
  }
}

.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: rgba(112, 112, 112, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-loader--hidden {
  display: none;
}
