.footer {
  background: #000;
  color: #fff;
  padding: 48px 0;
}

.footer-top {
  text-align: center;
}

.footer-logo-link {
  display: inline-block;
  margin-bottom: 32px;
}

.footer-nav {
  margin-bottom: 80px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}

.footer-nav-link:hover,
.footer-nav-link:focus-visible {
  text-decoration: underline;
}

.footer-bottom {
  position: relative;
  padding-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px; /* мобилка */
}

.footer-bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
}

.footer-social-list {
  display: flex;
  gap: 32px;
}

.footer-social-icon {
  fill: #fff;
  transition: fill 0.3s ease;
}

.footer-social-item:nth-child(1) .footer-social-link:hover .footer-social-icon,
.footer-social-item:nth-child(1)
  .footer-social-link:focus-visible
  .footer-social-icon {
  fill: #c13584; /* instagram */
}

.footer-social-item:nth-child(2) .footer-social-link:hover .footer-social-icon,
.footer-social-item:nth-child(2)
  .footer-social-link:focus-visible
  .footer-social-icon {
  fill: #1877f2; /* facebook */
}

.footer-social-item:nth-child(3) .footer-social-link:hover .footer-social-icon,
.footer-social-item:nth-child(3)
  .footer-social-link:focus-visible
  .footer-social-icon {
  fill: #ea333e; /* youtube */
}

@media (min-width: 768px) {
  .footer {
    .footer {
      padding: 80px 0;
    }
    background: #000;
    color: #fff;
    padding: 48px 0;
  }

  .footer-nav-list {
    flex-direction: row;
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 80px 0;
  }
}
